<a href="https://colab.research.google.com/github/Ranj1tha/Customer_Ad_Click_Prediction/blob/main/Customer_Ad_click_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Importing the dataset
 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
 # Importing the dataset
 
dataset=pd.read_csv('/content/advertising.csv')
customer_features=['Daily Time Spent on Site', 'Age','Area Income','Daily Internet Usage', 'Male']
X=dataset[customer_features]
y=dataset["Clicked on Ad"]

In [ ]:
dataset.describe()

       Daily Time Spent on Site          Age  ...         Male  Clicked on Ad
count               1000.000000  1000.000000  ...  1000.000000     1000.00000
mean                  65.000200    36.009000  ...     0.481000        0.50000
std                   15.853615     8.785562  ...     0.499889        0.50025
min                   32.600000    19.000000  ...     0.000000        0.00000
25%                   51.360000    29.000000  ...     0.000000        0.00000
50%                   68.215000    35.000000  ...     0.000000        0.50000
75%                   78.547500    42.000000  ...     1.000000        1.00000
max                   91.430000    61.000000  ...     1.000000        1.00000

[8 rows x 6 columns]

In [ ]:
dataset.head()

   Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                     68.95   35  ...  2016-03-27 00:53:11              0
1                     80.23   31  ...  2016-04-04 01:39:02              0
2                     69.47   26  ...  2016-03-13 20:35:42              0
3                     74.15   29  ...  2016-01-10 02:31:19              0
4                     68.37   35  ...  2016-06-03 03:36:18              0

[5 rows x 10 columns]

In [ ]:
#splitting the data set into the training set and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
 #Training SVM model on the training set
 
from sklearn.svm import SVC
classifier=SVC(kernel='linear', random_state=0)
classifier.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
 from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
prediction=classifier.predict(X_test)

In [ ]:
 print(classification_report(y_test,prediction))
print(accuracy_score(y_test,prediction))
print(confusion_matrix(y_test,prediction))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97       136
           1       0.97      0.97      0.97       114

    accuracy                           0.97       250
   macro avg       0.97      0.97      0.97       250
weighted avg       0.97      0.97      0.97       250

0.972
[[132   4]
 [  3 111]]